
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f7f7f7;
    color: #333;
}

header {
    background-color: #2c3e50;
    color: #fff;
    text-align: center;
    padding: 50px;
}
.logo{
    color: #788509;
    font-size: 50px;
    font-family: Arial;

}
.sign{
    color: #16c8d4;
    font-size: 25px;
    font-family: Arial;
}
section {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

h1, h2 {
    color: #333;
}

p {
    line-height: 1.6;
    color: #666;
    margin-bottom: 20px;
}

.feature-box {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.feature {
    flex: 1;
    padding: 20px;
    background-color: #3498db;
    color: #fff;
    border-radius: 8px;
    margin: 0 10px;
    transition: transform 0.3s ease;
}

.feature:hover {
    transform: scale(1.05);
}
.figure{
    color: #000201;
    font-size: 15px;
    font-family: Arial;
}
.figure1{
    color: #000201;
    font-size: 15px;
    font-family: Arial;
}
.figure2{
    color: #000201;
    font-size: 15px;
    font-family: Arial; 
}

.cta-button {
    display: inline-block;
    padding: 15px 30px;
    margin-top: 30px;
    background-color: #e74c3c;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #c0392b;
}

footer {
    background-color: #2c3e50;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 40px;
}

.gallery img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
}
